<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sidebar</title>
  <link rel="stylesheet" href="../assets/css/sidebar.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    
    <aside class="sidebar">

        <!-- Sidebar Logo -->
  <div class="sidebar-logo">
    <div class="logo-icon">E</div>
    <div class="logo-text">
      <h3>EduClass</h3>
      <span>Student</span>
    </div>
  </div>
  
  <ul class="menu">
    <li class="menu-item active">
      <span class="icon">📊</span>
      <span class="text">Dashboard</span>
    </li>

    <li class="menu-item">
      <span class="icon">📘</span>
      <span class="text">Subjects</span>
    </li>

    <li class="menu-item">
      <span class="icon">📝</span>
      <span class="text">Tests</span>
    </li>

    <li class="menu-item">
      <span class="icon">📅</span>
      <span class="text">Timetable</span>
    </li>

    <li class="menu-item">
      <span class="icon">🏆</span>
      <span class="text">Results</span>
    </li>

    <li class="menu-item">
      <span class="icon">💬</span>
      <span class="text">Chat</span>
    </li>

    <li class="menu-item">
      <span class="icon">🎓</span>
      <span class="text">JEE / NEET</span>
    </li>
  </ul>
</aside>
<script src="../assets/js/sidebar.js"></script>
</body>
</html>
