<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sidebar</title>
  <link rel="stylesheet" href="../assets/css/sidebar.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    
   <aside class="sidebar" id="sidebar">

  <!-- LOGO / TOGGLE -->
  <div class="sidebar-logo" onclick="toggleSidebar()">
    <img src="../assets/icons/logo web.jpeg" class="logo-icon">
    <div class="logo-text">
      <h3>PIONEER</h3>
      <span>Student</span>
    </div>
  </div>

  <!-- MENU -->
  <ul class="menu">

    <li class="menu-item active">
      <a href="../dashboard/dashboard.html">
      <span class="icon"><img src="../assets/icons/dashboard.png" width="22"></span>
      <span class="text">Dashboard</span>
      </a>
    </li>

    <li class="menu-item">
      <a href="../subjects/subject.html">
      <span class="icon"><img src="../assets/icons/library.png" width="22"></span>
      <span class="text">Subjects</span>
      </a>
    </li>

    <li class="menu-item">
      <a href="../tests/test.html">
      <span class="icon"><img src="../assets/icons/test.png" width="22"></span>
      <span class="text">Tests</span>
      </a>
    </li>

    <li class="menu-item">
      <a href="../timetable/timetable.html">
      <span class="icon"><img src="../assets/icons/timetable.png" width="22"></span>
      <span class="text">Timetable</span>
    </li>

    <li class="menu-item">
      <a href="../results/results.html">
      <span class="icon"><img src="../assets/icons/superior.png" width="22"></span>
      <span class="text">Results</span>
    </li>

    <li class="menu-item">
      <a href="../chat/chat.html">
      <span class="icon"><img src="../assets/icons/bubble-chat.png" width="22"></span>
      <span class="text">Chat</span>
      </a>
    </li>

  </ul>
</aside>

<script src="../assets/js/sidebar.js"></script>
</body>
</html>
